<div class="comic-show">
    <div class="left-column">
    <h1>{{model.title}}</h1>
  <div>{{model.description}}</div>
  </div>
  <div class="right-column">
      <img src={{ marvel-image-path model.thumbnail}} alt="Logo" class="rig-img">
  </div>
</div>